
@{
    ViewBag.Title = "functionTest";
}

<h2>functionTest</h2>


<p>@ViewBag.message</p>
<p>@ViewBag.message2</p>

<p> @foreach (var i in ViewBag.message3)
{<p>  @i </p>}  </p>

<p>@ViewBag.message4</p>

<p> @foreach (var a in ViewBag.message5)
{<p>  @a </p>}  </p>

<br />

<p> @foreach (var x in ViewBag.message6)
{<p>  @x </p>}  </p>
<br />

<p> @foreach (var x in ViewBag.message7)
{<p>  @x </p>}  </p>
<br />
<p> @foreach (var x in ViewBag.message7)
{<p>  @x </p>}  </p>
<br />

<p>@ViewBag.message8</p>
<br />

<p>@ViewBag.message9</p>

<br />
<p> @foreach (var x in ViewBag.message10)
{<p>  @x </p>}  </p>
<br />
<p>@ViewBag.message11</p>
